<div class="sidenav">
    <a href="" ng-repeat="t in vm.templateList | orderBy:['campaignId', 'templateId']" ng-click="vm.selectTemplate(t)" ng-class="{ selected: t == vm.template }">{{t.campaignId}}/{{t.templateId}}</a>
</div>
<div class="content">
    <form name="templateForm" class="properties">
        <label>CampaignId</label>
        <input type="text" ng-model="vm.template.campaignId" />
        <label>TemplateId</label>
        <input type="text" ng-model="vm.template.templateId" />
        <label ng-if="!vm.template.isLayout">Subject</label>
        <input ng-if="!vm.template.isLayout" type="text" ng-model="vm.template.subject" />
        <label>Is Layout</label>
        <input type="checkbox" ng-model="vm.template.isLayout" />
        <br />
        <button class="button button-outline" ng-click="vm.save()">Save</button>
        <button class="button button-outline" ng-click="vm.deleteTemplate()">Delete</button>
        <hr />
        <button class="button button-outline" ng-click="vm.selectTemplate({})">Create New</button>
    </form>
    <section class="editor" id="editor"></section>
</div>
